@font-face {
    font-family: kaftan;
    src: url(kaftan.otf);
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: kaftan;
    color: white;
    background: url('../images/bg1.png') no-repeat fixed;
    background-size: cover;
    max-width: 100%;
}

.container {
    /*border: 2px solid orange;*/
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    gap: 3rem;
}

.gallery-container {
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100%;
}

h4{
    padding: 1rem ;
    margin: 0rem;
    font-size: 4rem;
    line-height: 3.8rem;
    margin: 1rem;
    z-index: 3;
}

h1{
    z-index: 1;
    grid-row: 3/4;
    grid-column: 3/4;
    font-size: 20rem;
    font-stretch:ultra-condensed;
    margin: 0rem 1rem 0rem 0rem;
    opacity: 50%;
    z-index: 3;
}

.image-container {
    /*display: flex;
    flex-wrap: wrap;
    position: absolute;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: 50%;
    padding: 2rem;*/

 /*position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  z-index: -1;*/
}

.cursor1 {
position: fixed;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  z-index: -1;
  background: url(../images/bg1.png) no-repeat, fixed;
  background-size: cover;
  opacity: 100%;
}

.image-container{
    position: fixed;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    z-index: -2;
}

.image-view{
    position: fixed;
    display: flex;
    top: calc(50% - 15rem);
    left: calc(50% - 15rem);
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    z-index: -2;
}

.bgimage1 {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background: url('../images/bg1.png') no-repeat fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    opacity: 30%;
    z-index: 1;
    
}

/*.container2 {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    width: 100%;
    height: 100vh;
}

.cursor2 {
    position: fixed;
      top: calc(50% - 10rem);
      left: calc(50% - 10rem);
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      z-index: -1;
      background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Waterhouse_Hylas_and_the_Nymphs_Manchester_Art_Gallery_1896.15.jpg/1200px-Waterhouse_Hylas_and_the_Nymphs_Manchester_Art_Gallery_1896.15.jpg') 50% 50% no-repeat fixed;
      background-size: cover;
      opacity: 30%;
    }

