@font-face {
    font-family: kaftan;
    src: url(kaftan.otf);
}

body{
    min-height: 100vh;
    font-family: kaftan;
    overflow: hidden;
    color: white;
    background: url('../images/bg1.png') no-repeat fixed;
    background-size: cover;
/*background-image: url("/Users/tashadezelsky/Documents/github/project3/bg1.png");*/
}

.container {
    /*border: 2px solid orange;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color:sandybrown;
}

a:visited {
    color: white;
}



.menu {
    /*border: 2px solid green;*/
    position: fixed;
    display: grid;
    width: 40%;
    grid-template-columns: repeat(3, 1fr);
    align-items:flex-start;
    text-align: center;
    list-style-type: none;
    padding: 2rem 1rem 0 0;
    font-size: 1.15em;
    z-index: 2;
}

.text-container {
    /*border: 2px solid red;*/
    font-size: 3rem;
    text-align: center;
    height: auto;
    /* justify-content: center; */
    align-self: center;
    line-height: 4rem;
    letter-spacing: -3px;
    z-index: 2;
}

.cursor{
position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url('https://upload.wikimedia.org/wikipedia/commons/b/bd/Waterhouse_Hylas_and_the_Nymphs_Manchester_Art_Gallery_1896.15.jpg') 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  z-index: -1;
}

.bgimage1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/bd/Waterhouse_Hylas_and_the_Nymphs_Manchester_Art_Gallery_1896.15.jpg') 50% 50% no-repeat fixed;
    background-size: cover;
    opacity: 20%;
  }

  /*--- new div for airtable info --*/

  .container2 {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        min-height: 100vh;
        border: 2px solid blue;
  }
